footer {
    background-color: darken($color--background, 75%);
    color: $color--background;
}

.footer-content {
    display: block;
    padding: .5rem 2rem 0 2rem;
    text-align: center;
    width: 100%;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-item {
    padding: .5rem;
}

.footer-about {
    padding-top: 2rem;
    text-align: center;
}

.footer-contacts {
    padding-bottom: 2rem;
}

.footer-link {
    color: $color--background;
}

.footer-logo {
    max-height: 10rem;
}

.footer-id {
    background-color: $color--foreground;
    color: $color--background;
    padding-bottom: .5rem;
    text-align: center;
}

@media screen and (min-width: 1008px) {

    .footer-wrapper {
        display: flex;
    }

    .footer-content {
        display: inline-block;
    }

    .footer-item {
        padding-left: 0;
    }

    .footer-about {
        padding-bottom: 4rem;
        padding-right: 4rem;
        padding-top: 4rem;
        width: 40%;
    }

    .footer-links {
        padding-bottom: 4rem;
        padding-top: 4rem;
        text-align: left;
        width: 30%;
    }

    .footer-contacts {
        padding-bottom: 4rem;
        padding-top: 4rem;
        text-align: left;
        width: 30%;
    }

}

