table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) { 
    background-color: darken($color--background, 20%);
}

th {
    background-color: darken($color--background, 20%);
    border: 1px solid  darken($color--background, 40%);
    padding: 1rem;
}

td {
    padding: 1rem;
    text-align: center;
}

