<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>{{ page.title }} - {{ site.name }} Lottery Bingo</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="apple-touch-icon" href="{{ site.logo | relative_url }}">
    <link rel="apple-touch-startup-image" href="{{ site.logo | relative_url }}">
    <meta name="apple-mobile-web-app-title" content="Lottery Bingo">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>

    {% include header.html %} 

    {{ content }}

    {% include join.html %}

    {% include footer.html %}
    
    <script src="{{ "/assets/scripts/main.js" | relative_url }}"></script>
    <script async src="//www.googletagmanager.com/gtag/js?id=G-79MXD1ZS6Y"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      if (location.hostname === "localhost") {
        gtag('config', 'G-79MXD1ZS6Y',{'debug_mode':true})
      } else {
        gtag('config', 'G-79MXD1ZS6Y');
      }
    </script>
  
  </body>
</html>